<div class="{{theme}} min-h-100vh">
  <app-register *ngIf="!name" (registerEvt)="getName()"></app-register>
  <ng-container *ngIf="name">
    <app-nav (themeEvt)="toggleTheme()"></app-nav>
    <div class="container-lg" style="margin-top: 5vh;">
      <div class="row">
        <div class="col-sm-12 col-lg-8">
          <router-outlet></router-outlet>
        </div>
        <div class="col-lg-4 d-lg-block d-none">
          <app-side-nav></app-side-nav>
        </div>
      </div>
    </div>
  </ng-container>
</div>
